.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding-bottom: 1.2rem;
}

.dev-name {
    color: var(--color-primary);
}

.dev-link {
    text-decoration: none;
}

.dev-link span,
.github-icon {
    transition: all 0.2s ease;
}

.dev-link:hover span {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-primary-light);
}

.dev-link:hover .github-icon {
    fill: #434d56;
    transform: scale(1.2);
}

.github-icon {
    margin-left: 0.6rem;

    width: 2rem;
    height: 2rem;
    fill: #24292e;
}
