iframe {
    width: 90%;
    max-width: 85.4rem;
    height: 24rem;
}

@media (min-width: 768px) {
    iframe {
        height: 36rem;
    }
}

@media (min-width: 992px) {
    iframe {
        height: 48rem;
    }
}
